@import 'variable';
@import 'function';
@import 'breakpoint';

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family;
    overflow-x: hidden;
    background-color: $white;
    padding: rem(20) rem(24);

    @include breakpoint("md") {
        padding: rem(24) rem(30);
    }

    @include breakpoint("lg") {
        padding: rem(30) rem(164);
    }
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}